<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY-MANAGEMENT</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
    <div class="top">
        <h1>INVENTORY MANAGENT</h1>
    </div>
    <div class="navbar">
        <a class ="home"href="{{url_for('report')}}">Home</a>
        <a href="{{url_for('product')}}">ADD PRODUCT</a>
        <a href="{{url_for('location')}}">ADD LOCATION</a>
        <a href="{{url_for('movement')}}">MOVE PRODUCT</a>
      </div>
    <div class="main">
        <table>
            <tr>
                <th>Location</th>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    
    </div>
</body>
</html>